html {
    font-size: 62.5%;
    /* ^above conversion allows for direct use of Figma design current units
    (but must lose a decimal place and use rem/em units in code).
    Ex: 52 Font size in Figma is 5.2 Rem */
}

body {
    margin: 0;
    font-family: 'Poppins', 
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

   /* N a v b a r - S e c t i o n */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* rem vs em: rem stands for root em, and only listens to the root(html font size 62.5%), 
and ignores other parent em specifications,(ex: if nav font-size: 3em, a font size: 1.6rem would ignor it).*/
nav {
    margin: 4em;
    
    >ul {
        list-style-type: none;
        display: flex;
        gap: 4.1em;
        margin: 0;

        >li{
            >a{
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 1.6rem;
                position: relative;
            }
/*position relative is letting the position absolute know to base its specifications(ex: width, bottom) based on the parent.*/
            >a.active:before {
                position: absolute;
                content: "";
                width: 35%;
                height: 1px;
                border-bottom: 2px solid black;
                bottom: -6px;
            }
            >a:before {
                position: absolute;
                content: "";
                width: 0%;
                height: 1px;
                border-bottom: 2px solid rgb(122, 122, 122);
                bottom: -6px;
                transition: width .3s;
            }
        }
    }
}

   /* H e r o - S e c t i o n */

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.left-col {
    width: 45%;
}

.right-col {
    flex-grow: 1;
    /* ^ fills out all availible space*/
}

h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
    /*broswer auto makes font bold and adds margin based on font size*/
}

.subhead {
    font-size: 1.8rem;
}

.cta-btns {
    margin: 5em 0;
}

.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: #f1e2d1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}

.secondary-cta {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    display: block;
    /* ^ makes sure that the words will always stay in a line and not break*/
    padding: 1em 0;

    >svg {
        width: 20px;
        /*pixels are ok to use if you don't mind the element doesn't scale with the users's zoom preference*/
    transition: transform .3s;
    }
}

.news {
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
}

.news::before {
    position: absolute;
    content: "";
    background: url(../images/confetti.svg);
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}

p.employees {
    font-size: 3.3rem;
    margin: 0;
    font-weight: 200;
    line-height: 100%;
    /*the bigger the type, the more it can affect line height*/
}

p.details {
    font-size: 1.4rem;
    margin: 0;
}

   /* R i g h t - G a l l e r y - S e c t i o n */

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2, auto);
    /*this is a function that replaces saying 'auto auto'*/
    grid-template-areas: 
        "left ."
        "left .";
}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    /*by making the parent a flexbox container, we gaurantee the children will be in a position we want*/
    background-size: 150%;
    transition: background-size 800ms;
}

.card1 {
    grid-area: left;
    background: url(../images/clothing1.jpg) no-repeat;
    /* background: no-repeat; */
    position: relative;
}

.card1::before {
    position: absolute;
    content: "";
    background: url(../images/tag.svg) no-repeat;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -30px;
    pointer-events: none;
    /* ^ this allows us to click the 'link' even with the width and height covering it*/
}

.card2 {
    background: url(../images/clothing2.jpg) no-repeat;
}
.card3 {
    background: url(../images/clothing3.jpg) no-repeat;
}

.card-details {
    background: white;
    border-radius: .6em;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 800ms;

    >div {
        >a {
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
        }
        
        >p {
            font-size: 1.4rem;
            margin: 0;
        }
    }   
}

p.product-price {
    font-size: 1.8rem;
}

   /* M i c r o - I n t e r a c t i o n s - S e c t i o n */

nav ul li a:hover::before {
    width: 35%;
}

.primary-cta:hover {
    background: #e2d1bd;
}

.secondary-cta:hover svg {
    transform: translateX(10px);
}

.secondary-cta:hover {
    text-decoration: underline;
}

.card:hover {
    background-size: 160%;
}

.card:hover .card-details {
    transform: translateY(-20px);
}

    /* M e d i a - Q u e r i e s - S e c t i o n */

@media only screen and (max-width: 1260px){
    body {
        background-color: rgba(171, 235, 198)   ;
    }
    
    header {
        margin-left: 4em;
    }
    
    .left-col {
        margin-left: 4em;
    }

    .card:hover {
        background-size: 110%;
        background-color: rgb(0,0,0,0.65);
z-index: 1;
    }

    .card1 {
        background-size: 150%;
        background-color: rgba(219,219,219,255);
       > .card-details {
        width: 80%;
        gap: 2em;
       }
   }

   .card1::before {
        width: 30%;
        height: 100%;
        top: 10px;
        left: -60px;
    }

    .card2 {
        grid-area: right;
        background-size: cover;
        background-color: rgba(3,150,189,255);
        > .card-details {
            width: 80%;
            gap: 2em;
           }
   }

   .card3 {
    position: relative;
        grid-area: bottom;
        background-size: 150%;
        > .card-details {
            width: 80%;
           }
   }

    .right-col {
        margin-right: 4em;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
        "left right"
        "bottom bottom";
    }
}
/*When using max-width for media quieries, you start with largest pixel quiery unlike the norm.*/
@media only screen and (max-width: 1000px){
    body {
        background-color: rgba(255, 217, 102);
    }

    main {
        margin-top: 3em;
    }
    
    .card {
        > .card-details {
            width: 80%;
            gap: 1em;
            margin-left: auto;
            margin-right: auto;
           }
       }

    .card:hover {
        background-size: 100%;
        background-color: rgb(0,0,0,0.65);
z-index: 1;
    }

    .card1::before {
        width: 20%;
        height: 100%;
        top: 10px;
        left: -60px;
    }

    .right-col {
        margin-right: 4em;
        grid-template-areas: 
        "left left"
        "right right"
        "bottom bottom";
    }
}

@media only screen and (max-width: 700px){
    body {
        background-color: pink;
    }

    header {
        margin-left: 2em;
    }

    main {
        margin-top: 5em;
    }

    nav {
        margin: 2.5em 2em;

        > ul{
          gap: 2em;
          padding-left: 0.25em;
          margin-right: 1em;  
        }
    }

    .card {
        width: 20em;
        height: 15em;

        > .card-details {
            width: 60%;
            height: 12%;
            gap: .5em;
            margin-left: auto;
            margin-right: auto;

            > div a {
                font-size: 1.4rem;
            }
            
            > div p {
                display: none;
            }

            > .product-price {
                font-size: 1.6rem;
            }
        }
    }

    .card1::before {
        width: 35%;
    }

    .left-col {
        margin-left: 2em;
        
        h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        >.subhead {
            font-size: 1.5em;
            line-height: 2.5rem;
            margin: 1.5em 0em;
        }

        >.cta-btns {
            
            >.primary-cta {
                font-size: 1.6em;
                text-align: center;
                padding: 1em;
                margin-top: .5em;
            }
            
            >.secondary-cta {
                font-size: 1.6em;
                margin-top: .5em;
            }
        }

        >.news {
            display: block;
            padding: 2.5em;
            text-align: center;

            > .employees {
                margin-bottom: .5em;
            }

            > .details {
                line-height: 2.5rem;
            }
        }

        >.news::before {
            left: 15px;
        }
    }

    .right-col {
        margin-right: 2em;
        gap: 2em;
        grid-template-columns: auto;
        grid-template-areas: 
        "left"
        "right"
        "bottom";
    }
}

   /* I n t r o - A n i m a t i o n - S e c t i o n */

.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

main {
    animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

@keyframes growIn {
    to {
        transform: scale(1);
    }
}
